{#  {% extends "index.html" %} #}
{#  {% block register %} #}
<form method="POST" action="/security/register">
  <!-- Required -->
  <input type="text" name="user_id" placeholder="id" maxlength="50" required></br>
  <input type="password" name="user_pwd" placeholder="password" maxlength="16" required></br>
  <input type="password" name="user_pwd_chk" placeholder="password check" maxlength="16" required></br>
  <input type="text" name="user_name" placeholder="name" maxlength="30" required></br>
  <!-- Required -->
  <!-- Optional -->
  <input type="text" name="user_nick" placeholder="nickname" maxlength="30"></br>
  <input type="text" name="email" placeholder="email"></br>
  <input type="text" name="cell_phone" placeholder="id"></br>
  <!-- Optional -->
  <button type="submit" onclick="handleRegister(event, this.parentElement)">login</button>
</form>
{#  {% endblock  %} #}