* { box-sizing: border-box; }
html, body { padding: 0; margin: 0; height: 100%; width: 100% }

.row { display: flex; flex-direction: row; height: 100%; }
.row .col { height: 100%; display: flex; flex-direction: column; flex-wrap: wrap; align-items: flex-start; justify-content: flex-start; }

.row.center{ justify-content: center; }
.row.right{ justify-content: flex-end; }

.col.center{ justify-content: center; align-items: center; }
.col.right{ justify-content: flex-end; align-items: flex-end; }

.w1 { width: 8.3% }
.w2 { width: 16.6% }
.w3 { width: 25% }
.w4 { width: 33.3% }
.w5 { width: 41.6% }
.w6 { width: 50% }
.w7 { width: 58.3% }
.w8 { width: 66.6% }
.w9 { width: 75% }
.w10 { width: 83.3% }
.w11 { width: 91.6% }
.w12 { width: 100% }
